@charset "UTF-8";

/*list of colors*/
:root{
  --primary: #172026;
  --secondary: #04BFAD;
  --baby-blue: #5FCDD9;
  --white: #F2F2F2;
  --black: #000000;
}

/*size fonts*/
:root{
  --superSmall: 1.5rem;
  --small: 1.7rem;
  --medium: 2rem;
  --large: 2.7rem;
  --superLarge: 5rem
}

@media screen and (max-width: 745px){
  body{
    display: flex;
    position: relative;
  }

  header{
    width: 200px;
    height: 100vh;
    z-index: 2;
    transition: 0.5s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    flex-direction: column;
    position: absolute;
  }

  .hidden{
    left: -100%;
  }

  .show{
    left: 0%;
  }

  header nav{
    flex-direction: column;
  }

  header nav .icons{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  header nav .icons i{
    margin: 0px;
  }

  header nav .icons .close-sidebar{
    transition: 0.5s;
    display: block;
    cursor: pointer;
    color: var(--secondary);
  }

  header nav .icons .close-sidebar:hover{
    opacity: 0.8;
  }

  header nav a{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
  }

  header nav a:hover{
    background-color: var(--secondary);
    color: var(--primary);
  }

  header .contact{
    padding-right: 0px;
    padding-bottom: 10px;
    justify-content: center;
  }

  main{
    height: 100vh;
    z-index: 1;
    display: block;
  }

  main .header{
    height: 50px;
    display: block;
    color: var(--secondary);
  }

  main .header .open-sidebar{
    width: 35px;
    height: 35px;
    font-size: 35px;
    transition: 0.5s;
    cursor: pointer;
  }
  main .header i:hover{
    opacity: 0.8;
  }

  main .photo img{
    width: 250px;
    height: 250px;
    margin: 10px 0px;
  }

  main .informations h1{
    margin-bottom: 10px;
  }

  main .informations nav{
    padding: 0px;
    padding-top: 15px;
  }

  main nav .social-medias i{
    font-size: 35px;
  }
}

@media screen and (max-width: 545px){
  main{
    height: auto;
  }

  main .informations h2{
    font-size: var(--small);
  }

  main .informations h1{
    margin-bottom: 5px;
    font-size: var(--medium);
  }

  main nav .social-medias{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
  }
}