@charset "UTF-8";

/*size fonts*/
:root {
  --superSmall: 1.5rem;
  --small: 1.7rem;
  --medium: 2rem;
  --large: 2.7rem;
  --superLarge: 5rem
}

@media screen and (max-width: 745px) {
  main {
    display: block;
  }

  main .contact {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 545px) {
  .form {
    display: block;
    text-align: center;
  }

  form .label-name,
  form .label-email {
    left: 5%;
  }

  form .input-name:focus~.label-name,
  form .input-name:valid~.label-name {
    left: 5%;
  }

  form .input-email:focus~.label-email,
  form .input-email:valid~.label-email {
    left: 5%;
  }

  form input {
    width: 90%;
  }

  form textarea {
    width: 90%;
    margin: auto;
  }
}