@charset "UTF-8";

/*list of colors*/
:root{
  --primary: #172026;
  --secondary: #04BFAD;
  --baby-blue: #5FCDD9;
  --white: #F2F2F2;
  --black: #000000;
}

/*size fonts*/
:root{
  --superSmall: 1.5rem;
  --small: 1.7rem;
  --medium: 2rem;
  --large: 2.7rem;
  --superLarge: 5rem
}

/*style header*/
header{
  width: 100%;
  height: 15vh;
  padding: 0px 25px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: var(--primary);
  color:var(--white);
}

header h1{
  font-size: var(--large);
  font-weight: 400;
}

header a{
  font-size: var(--small);
  color:var(--white);
}

main{
  height: 85vh;
  display: flex;
  background-color: var(--primary);
}

main .form, main .contact{
  width: 100%;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-message{
  position: relative;
}

form{
  display: flex;
  flex-direction: column;
}

form .send-message label{
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 10px;
  font-size: var(--small);
  pointer-events: none;
  transition: 0.5s;
  color: var(--secondary);
}

form .send-message input:focus~label,
form .send-message input:valid~label{
  top: -20px;
  left: 0px;
  font-size: var(--superSmall);
}

form .send-message input{
  width: 400px;
  height: 35px;
  margin-bottom: 30px;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid var(--secondary);
  font-size: var(--small);
  outline: none;
  background-color: transparent;
  color: var(--white);
}

form textarea{
  width: 400px;
  height: 156px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  font-size: var(--small);
  outline: none;
  background-color: transparent;
  color: var(--white);
}

form textarea::placeholder{
  color: var(--secondary);
}

form button{
  width: 200px;
  height: 35px;
  margin: 20px auto;
  border-radius: 5px;
  border: 0px;
  transition: 0.5s;
  font-size: var(--small);
  outline: none;
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--primary);
}

form button:hover{
  opacity: 0.8;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact p{
  font-size: var(--medium);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.contact p i{
  margin-right: 5px;
}