@charset "UTF-8";

/*list of colors*/
:root {
  --bgColor: #F2F2F2;
  --white: #FFFFFF;
  --black: #000000;
}

/*size fonts*/
:root {
  --superSmall: 1.5rem;
  --small: 1.7rem;
  --medium: 2rem;
  --large: 2.7rem;
  --superLarge: 5rem
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  transition: 0.4s;
  text-decoration: none;
}

img {
  width: 35rem;
  height: 35rem;
  border-radius: 0.5rem;
}

i {
  font-size: 4.5rem;
}

.a-button {
  width: 13.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--black);
  font-size: var(--small);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
  color: var(--black);
}

.a-button:hover {
  background-color: var(--black);
  color: var(--white);
}

@media screen and (max-width: 745px) {
  i {
    font-size: 3.5rem;
  }

  .a-button {
    height: 2.5rem;
  }
}