@charset "UTF-8";

/*list of colors*/
:root {
  --bgColor: #F2F2F2;
  --white: #FFFFFF;
  --black: #000000;
}

@media screen and (max-width: 745px) {
  body {
    display: flex;
    position: relative;
  }

  header {
    width: 20rem;
    min-height: 100vh;
    z-index: 2;
    transition: 0.5s;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
    flex-direction: column;
    position: absolute;
  }

  .hidden {
    left: -100%;
  }

  .show {
    left: 0%;
  }

  header nav {
    flex-direction: column;
  }

  header nav .icons {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  header nav .icons i {
    margin: 0;
  }

  header nav .icons .close-sidebar {
    transition: 0.5s;
    display: block;
    cursor: pointer;
    color: var(--black);
  }

  header nav .icons .close-sidebar:hover {
    opacity: 0.8;
  }

  header nav a {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
  }

  header nav a:hover {
    opacity: 1;
    background-color: var(--black);
    color: var(--white);
  }

  header .contact {
    padding-right: 0;
    padding-bottom: 1rem;
    justify-content: center;
  }

  main {
    height: 100vh;
    z-index: 1;
    display: block;
  }

  main .header {
    height: 5rem;
    display: block;
    color: var(--black);
  }

  main .header .open-sidebar {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 3.5rem;
    transition: 0.5s;
    cursor: pointer;
  }

  main .header i:hover {
    opacity: 0.8;
  }

  main .photo img {
    width: 25rem;
    height: 25rem;
    margin: 1rem 0;
  }

  main .informations h1 {
    margin-bottom: 1rem;
  }

  main .informations nav {
    padding: 0;
    padding-top: 1.5rem;
  }

  main nav .social-medias i {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 545px) {
  main .informations h1 {
    font-size: 2.5rem;
  }

  main .informations h2 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
  }

  main nav .social-medias {
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
}