@charset "UTF-8";

/*size fonts*/
:root {
  --superSmall: 1.5rem;
  --small: 1.7rem;
  --medium: 2rem;
  --large: 2.7rem;
  --superLarge: 5rem
}

@media screen and (max-width: 745px) {
  main .content {
    text-align: justify;
    flex-direction: column;
  }

  main .content .photo img {
    width: 25rem;
    height: 25rem;
    margin-bottom: 2rem;
  }

  main .content .card {
    margin: 1rem 0;
  }

  main .experience {
    font-size: var(--superSmall);
  }

  main .experience .left {
    padding: 0 1rem;
  }

  main .experience .left p {
    margin-left: 0%;
  }
}

@media screen and (max-width: 545px) {
  main .title h1 {
    margin-left: 1rem;
  }

  main .experience {
    width: 100%;
  }

  main .experience .explain {
    width: 15rem;
    height: auto;
  }
}