@charset "UTF-8";

/*list of colors*/
:root {
  --bgColor: #F2F2F2;
  --white: #FFFFFF;
  --black: #000000;
}

/*size fonts*/
:root {
  --superSmall: 1.5rem;
  --small: 1.7rem;
  --medium: 2rem;
  --large: 2.7rem;
  --superLarge: 5rem
}

/*style header*/
header {
  width: 100%;
  height: 15vh;
  padding: 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgColor);
}

header a {
  font-size: var(--small);
}

header .back {
  transition: all 0.3s ease;
  color: var(--black);
}

header .back:hover {
  opacity: 0.8;
}

/*style main*/
main {
  background-color: var(--bgColor);
  overflow: hidden;
}

main>div {
  width: 100%;
  height: auto;
  margin-bottom: 10rem;
  transition: 1.5s;
}

main .hidden {
  margin-left: -100%;
}

main .hidden-right {
  margin-left: 100%;
}

main .show {
  margin-left: 0%;
}

main .title h1 {
  margin-bottom: 3.5rem;
  margin-left: 2rem;
  font-size: var(--superLarge);
  color: var(--black);
  font-weight: 400;
}

main .content {
  padding: 0 1rem;
  display: flex;
}

main .content div {
  width: 100%;
}

main .content .photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content .photo img {
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

main .content .about {
  line-height: 1.5em;
  font-size: var(--small);
  display: flex;
  align-items: center;
  color: var(--black);
}

main .content .card {
  margin: 0 1rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  text-align: center;
}

main .content .card h2 {
  line-height: 5rem;
  font-size: var(--medium);
  font-weight: 400;
  color: var(--black);
}

main .content .head {
  margin-bottom: 5rem;
  padding: 1rem 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: var(--black);
  color: var(--white);
}

main .content .head h2 {
  color: var(--white);
}

main .experiencies .content {
  display: flex;
  flex-direction: column;
}

main .experience {
  margin-top: 5rem;
  display: flex;
  font-size: var(--small);
  color: var(--black);
}

main .experience .left p {
  margin-left: 40%;
}

main .experience .bold {
  font-weight: bold;
}

main .experience .explain {
  width: 35.3rem;
  height: 8.7rem;
}